.buttons_wrap {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.btn {
    margin-bottom: 8px;
    background-color: aqua;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}

.btn:hover {
    background-color: bisque;
    transition: all ease-in 0.05s;
}
