
// colors
$button-background-color: aqua;
$button-hover-background: aqua;
$magenta-color: magenta;

// backgrounds
$main-background: #ffffff;

// transitions
$hover-transition: all ease-in 0.05s;

// breakpoints
$md: 768px;
$lg: 1024px;
