@import '@styles/vars';

.footer {
  height: 50px;
  background-color: $main-background;

  &__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      margin-left: 5px;
    }
  }
}
